/.idea/
bin/
build/
old/
.classpath
.project
.settings/
.gradle/
.idea
*.iml
*.ipr
*.iws
*.class
hs_err_pid*
.DS_Store
/nbproject/private/
settings.gradle
/app/build/
/.gradle/
/buildSrc/build/
/buildSrc/.gradle/
/libraries/build/
/app/.idea/
