bin/
build/
.project
.classpath
.settings/*
.gradle
.idea
*.class
.DS_Store
hs_err_pid*
old
XScope.iml
executable.xml
jar-in-jar-loader.zip
/hasebuild/
/nulljars/
/out/
/resources/
*.txt
*.iml
*.jardesc